@import "../../../styles.css";

.topper {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 19px 0;
  text-align: center;
  background-color: var(--dark-30);
}
