<section>
  <div class="container">
    <div class="text-content">
      <h2>Os melhores em um só lugar</h2>
      <p>
        A marca Jordan na JordanShoes é a escolha certa para os amantes de
        sneakers que buscam estilo e conforto.
      </p>
    </div>
    <div class="cards-container">
      <app-card
        *ngFor="let product of productList"
        imgUrl="{{ product.imgUrl }}"
        name="{{ product.name }}"
        type="{{ product.type }}"
        price="{{ product.price }}"
      ></app-card>
    </div>
  </div>
</section>
