@import "../../../styles.css";

.banner {
  background-image: url("../../../assets/images/bg-banner.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: flex-start;
  width: 65%;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 556px;
  flex-wrap: wrap;
  color: var(--dark-30);
}

.content img {
  margin-bottom: 40px;
  width: 200px;
}

.content h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.content p {
  font-size: 1.5rem;
  font-weight: 300;
}
